$colorTextMain: #FFFFFF;
$fontSize: 16px;
$bcPurple: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
$clockBc: #121212;

@mixin resetStyles {
    margin: 0;
    padding: 0;
}
@mixin btnStyle {
    padding: 10px 30px;
    border-radius: 25px;
    border-style: none;
    color: $colorTextMain;
    cursor: pointer;
    font-size: $fontSize;
}

@mixin dFlex ($direct, $justify, $align) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
}








